
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <br>
    <h3>Question from User <%= @user.name %> :</h3>
    <br>
    <%= @text %>
  </body>
</html>

