<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Biot, <%= @user.name %></h1>
    <p>
      You have successfully signed up to our web-site
      your username is: <%= @user.email %>.<br/>
    </p>
    <br>
    <p>
      To login to the site, just follow this link: <%= @url %> and use your e-mail address to sign in.
      If you have not created the account on your own, your default password is "123456". Please change it as
      soon as possible.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
