<h2><strong>Change Booking for</h2></strong>

<div class="span2 offset4">
<h3><%= @user.name %></h3>
</div>
<br><br><br><br>
<div class="row">
  <div class="span7 offset2">

   <%= render 'form' %>

  </div>    
</div>    

