<div class="row">
  <div class="span4">
    <p>Any questions?</p>
    <%= form_for(:umessage, url: apx_path, method: "GET") do |f| %>
      <%= f.hidden_field :user_id, :value => @user.id %>
      <%= f.text_area :text %>
      <br>
      <%= f.submit "Send Message", confirm: 'Send Message?', class: "btn btn-info" %>
    <% end %>
  </div>
  <div class="span6">
    <br><br>
<% if langu == 'DE' %>
Bitte teilen Sie uns Ihre vollständige Adresse, sowie Festnetz- und Mobiltelefonnummer mit.
Wir werden Ihren persönlichen Bereich mit den entsprechenden Buchungsangaben aktualisieren.
Auf dem Kartenreiter "Booking History" können Sie sich über den Stand Ihrer Buchungsabwicklung informieren.
<br>
Falls Sie weitere Fragen haben, haben Sie die Möglichkeit uns eine Textmessage zu schicken, die wir umgehend
per e-Mail beantworten.
Sie können uns außerdem telefonisch unter +33 (0)4 93 65 70 28 erreichen. 
<% end %>
<% if langu == 'EN' %>
Please update your personal area with address, phone numbers (landline and mobile/cell phone) and your personal e-mail.
We will update your booking status accordingly. 
<br><br>
If you have further questions feel free to send us a text message which we will reply to as soon as possible. 
We could also be reached by phone +33 (0)4 93 65 70 28 or e-mail: studio@biot06.com
<% end %>
<% if langu == 'FR' %>
Merci de renseigner l'espace privée avec votre adresse, vos numéros de telephone fixe et portable, ainsi que votre adresse e-mail. Nous allons mettre à jour le status de votre réservation. Vous pouvez aussi télécharger le plan 
d'access.
<br><br>
Si vous avez d'autres questions n'hésitez pas de nous envoyer un message en utilisant la foncionalité de ce site.
Vous pouvez également nous contacter par e-mail:studio@biot06.com ou par telephone: 33 (0)4 93 65 70 28
  <% end %>
  </div>
</div> <!-- row -->

