<br> 
<% if langu == 'EN' %>
      <strong>By Car:</strong> On the A8 motorway (Autoroute du Soleil) please take exit no 44 
      “Antibes/Juan Les Pins”. Coming from Nice just follow the signs indicating Biot. Coming from 
      Cannes, take direction “Antibes” at the first roundabout and at the second follow direction 
      “Marineland”/Biot. We would like to emphasise again that you cannot drive all the way to the 
      apartment and that there is no parking space within the old village. After having contacted 
      us it is possible though to access the village and to unload your car. Afterwards you park 
      the car on one of the public parking lots located at the village entrances, preferably 
      “Parking St. Jean” or “Parking de la Fontanette”. A few minutes walk up the hill and you are 
      back in the village.
      <hr>
      <strong>By train:</strong> You can either get off the train at “Gare de Biot” or “Gare d’Antibes”. 
      From both stations there is a bus which serves “Biot Village”.
      <hr>
      <strong>By Plane:</strong> You arrive at Nice Airport. If you plan to hire a car you can do this 
      easily at both Terminal 1 and 2. From the airport please follow the signs to the A8 motorway 
      (direction Antibes/Cannes). For further information refer to the above paragraph “How to find us 
      by car”. If you choose to stay without a car you can take the airport bus from Terminal 1 to 
      “Gare de Biot” for 1,30 Euro per person. If you arrive at Terminal 2 a shuttle bus (Navette) gets 
      you to Terminal 1. Of course you can take a cab but in the south of France this is quite expensive 
      (approx. 70 Euros for a ride to Biot). 
<% end %>
<% if langu == 'DE' %>
      <h3>Adresse</h3>
      <br>
       Matthias Scheele<br>
       7, Place Marius Auzias<br>
       06410 Biot <br>
      Tel: +33 (0)43 93 65 70 28<br>
      <br>
      <h3>Adresse</h3>
      <br>
      <strong>Mit dem Auto</strong> erreichen Sie Biot über die Küstenautobahn A8. 
      Verlassen Sie die Autobahn an der Ausfahrt
      Nummer 44 "Antibes". Von dort aus folgen Sie der Beschilderung in Richtung Biot. Nach ca. 7 km erreichen 
      Sie das Dorf Biot.
      
      Wir möchten Sie noch einmal darauf hinweisen, dass die Ferienwohnung nicht direkt mit dem Auto zu erreichen
      ist, da es im Dorfkern keine Parkmöglichkeiten gibt. Zum Be- und Entladen des Gepäcks kann man aber nach
      Rücksprache mit uns ins Zentrum fahren und den Wagen dort für eine kurze Zeit abstellen. Anschließend parkt 
      man den Wagen auf einem der anliegenden öffentlichen Parkplätze, die sich unmittelbar in der Nähe des Dorfkerns
      befinden und innerhalb von zwei bis drei Minuten zu Fuß zu erreichen sind; es geht allerdings ein bisschen     
      bergauf. Am Besten stellen Sie Ihr Fahrzeug auf dem "Parking de la Fontanette" oder dem "Parking St. Jean" ab.
      <hr>
      <strong>Mit der Bahn</strong> fahren Sie bis zum Gare Biot oder Gare Antibes. 
      Von beiden Bahnhöfen fährt ein Bus bis nach 
      „Biot Village“.
      <hr>
      <strong>Mit dem Flugzeug</strong> landen Sie am Flughafen Nizza (Nice Aeroport). 
      Wenn Sie sich ein Auto mieten wollen, 
      so ist dies bequem am Terminal 1 und 2 möglich. Vom Flughafen folgen Sie der Beschilderung zur Autobahn 
      (s.o.). Möchten Sie ohne Auto bleiben, können Sie einen Flughafenbus vom Terminal 1 nehmen. Dieser fährt 
      Sie bis zum Bahnhof Biot. Sollten Sie am Terminal 2 ankommen, dann fährt Sie der kostenlose 
      Transferbus/Navette bis zum Busbahnhof am Terminal 1. Sie können natürlich auch in ein Taxi steigen, aber
      Taxifahren ist in Südfrankreich relativ teuer. Für die ca. halbstündige Fahrt vom Flughafen bis Biot muss 
      mit einem Fahrpreis von ca. 70 Euro gerechnet werden.
<% end %>
<% if langu == 'FR' %>
     En Voiture: Suivez l'autoroute A8 et prenez la sortie numéro 44 'Antibes'. Suivez les indications 'Biot'. 
     Après environ 7 km, vous arrivez au pied du vieux village. Comme déjà indiqué avant, il n'y a pas de
     possibilié de se garer devant l'appartement car l'accès du village en voitures est limité. Pour charger 
     et décharger la voiture vous pourrez cependant entrer dans le village et stationner un moment. Ensuite vous
     pourrez garer votre voiture sur un des parkings publics qui se trouvent directement au pied du village. Pour
     rejoindre la maison depuis le 'parking de la Fontanette' ou du 'parking St. Jean' il faut compter environ 
     trois minutes. 
<% end %>
