    <h2>Welcome to Biot</h2>
      <div class="row">
        <div class="span10">
          <ul class="media-grid">          
            <li><a><img src="/assets/biot_gen1.jpg"></a></li>
            <li><a><img src="/assets/biot_gen2.jpg"></a></li>
            <li><a><img src="/assets/biot_gen3.jpg"></a></li>
          </ul>
        </div>
      </div>

      <br>  
      <br>

      <div class="row">
        <div class="span10">
<% if langu == 'EN' %>
          Biot’s history dates back to the Roman Empire when it was officially mentioned for the first   
          time. And even now, one cannot fail to recognise that the history of the old village ("le vieux 
          village") has been quite agitated. Today, this historic centre provides a perfect setting for 
          typical village life in the south of France and thus is a popular place for tourists. 
          Nonetheless, Biot 
          has been able to retain its individuality and authenticity which is reflected in its narrow
          streets, cobbled roads and many other hidden charms. That is probably the reason why the famous  
          tourist guide 
          Michelin nominated Biot as one of the nicest "Detours de France".
<% end %>
<% if langu == 'FR' %>
Les premières traces humaines de Biot remontent à l'antiquité, il y a plus de 2000 ans. Aujourd'hui on constate que ce village était témoin de beaucoup d'événements historiques qui en ont formé un lieu unique de la Côte d'Azur. Le centre historique, le vieux village, est devenu un lieu d'attractions pour les touristes mais aussi pour les gens du coin, car Biot a toujours su préserver son caractère authentique et individuel à l'abri du tourisme de masse. C'est probablement la raison pour laquelle Biot a été choisi parmi "les plus beaux détours" de France par le guide Michelin.
<% end %>
<% if langu == 'DE' %>
Biot wurde bereits zur Römerzeit erstmals urkundlich erwähnt und man erkennt noch heute, dass das alte Dorf, le vieux village, bereits eine ganze Menge erlebt hat. Der historische Altstadt-Kern ist heute Schauplatz des typischen Dorflebens im Süden Frankreichs und in der Sommersaison ein beliebter Ort für Touristen. Dabei wurde Biot gleichzeitig vom Massentourismus verschont und konnte dadurch seine Individualität wahren. Kein Wunder, dass der beliebte Michelin-Führer Biot zu einem der "schönsten Abstecher Frankreichs" ernannt hat.
<% end %>

        </div>
      </div>
      
      <hr>

      <div class="row">
        <div class="span9">
<h2>Biot’s unique location in the heart of the Côte d’Azur </h2>
</div>
</div>

<div class="row">
 <div class="span3">
<% if langu == 'EN' %>
Biot can be found nested in the triangle made up of Cannes, Nice and Grasse. And, because of its proximity to the sea, it makes an ideal location for a beach holdiday. Within a half-hour drive, you can easily visit Grasse, the city of perfumes; Cannes, the city of festivals; and Nice, the administrative centre of the “Alpes-Maritimes”. And don’t forget the Roman city of Antibes, only 6 km away, where you can explore Europe’s biggest yacht harbour. 
<% end %>
<% if langu == 'FR' %>
Biot se trouve au milieu d'un triangle magnifique de trois villes connues dans le monde entier : Grasse, ville des parfums, Cannes, où vous suivrez les empreintes des stars au palais des congrès, Nice, cinquième ville de France.Grâce à sa proximité de la Méditerranée, Biot est aussi une station idéale pour passer des vacances au bord de la mer. A ne pas oublier : Antibes, ville gréco-romaine, avec ses jolis remparts, qui héberge aujourd'hui le plus grand port de plaisance d'Europe et qui se trouve à environ dix minutes en voiture.
<% end %>
<% if langu == 'DE' %>
Biot befindet sich innerhalb des Dreiecks Cannes-Nizza-Grasse und ist durch seine Nähe zum Mittelmeer auch sehr gut als Station für einen Badeurlaub geeignet. Die Parfüm-Stadt Grasse, Cannes und auch Nizza, die Präfektur des Departments 'Alpes-Maritimes', sind mit dem Auto bequem innerhalb einer halben Stunde zu erreichen. Nicht zu vergessen die römische Hafenstadt Antibes, die heute den größten Jachthafen Europas beherbergt und nur ca. 10 Autominuten entfernt ist. 
<% end %>


</div>
<div class="span6">
<iframe width="500" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.fr/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=Biot+france+&amp;aq=&amp;sll=44.054425,5.9746&amp;sspn=3.288312,3.449707&amp;ie=UTF8&amp;hq=&amp;hnear=Biot,+Alpes-Maritimes,+Provence-Alpes-C%C3%B4te+d'Azur&amp;t=m&amp;ll=43.671845,6.92688&amp;spn=0.993309,2.752075&amp;z=8&amp;output=embed"></iframe><br/>      

</div>
</div>
<hr>

      <div class="row">
        <div class="span6">
         <ul class="media-grid">
           <li><a><img src="/assets/vue_panoramiqueII.jpg"></a></li>
           <li><a><img src="/assets/biot_total.jpg"></a></li>
         </ul>
        </div>
 <div class="span4">
<% if langu == 'EN' %>
	No matter if you want to take a stroll at the beach, in one of the near 
	parcs or along the river "la Brague", on foot, by bus or by car it's all 
	just a few minutes away. On the other hand you can enjoy the day in the 
	village, on one of it's plenty places or on the terrace of a café or
	restaurant.
<% end %>
<% if langu == 'FR' %>
Peu importe si vous voulez vous promenez à la plage, dans un des nombreux parcs ou au bord de la Brague - la petite rivière qui coule à Biot - tout est faisable à pied, en bus ou en prenant la voiture. Pour faire plus simple, vous pouvez également passer une journée agréable au village. Sur une de ses belles places ou sur la térasse d'un bar ou d'un restaurant.

<% end %>
<% if langu == 'DE' %>
Ganz gleich ob man einen Spaziergang am Strand, in einem der nahegelegenden Parks oder am Ufer der Brague unternimmt; alles ist zu Fuß, mit dem Bus oder mit dem Auto innerhalb weniger Minuten zu erreichen. Man kann den Tag aber auch einfach im Dorf genießen, am besten auf einem der zahlreichen Plätze oder auf der Terasse einer Bar oder eines Restaurants.
<% end %>

        </div>
</div>

<div class="row">
        <div class="span4">
<% if langu == 'EN' %>
	Those who want to explore further can visit one of the museums in Biot or 
	Antibes, visit "Marineland" or one of the glasblowing factories in the
	surroundings of the village. 
	The Alpes-Maritimes is also the ideal place if you want to go for a hike
	in the mountain or if you like to go skiing. It only takes you one hour 
	and a half by car to go there.
	In and around Biot you can find everything you need to spend a relaxing 
	and recreative holiday - all year long.
<% end %>
<% if langu == 'FR' %>
Ceux qui désirent entreprendre un peu plus peuvent visiter les musées à Biot, regarder les spectacles des dauphins et des orques au parc ‘Marineland’, faire le tour des nombreuses verreries de Biot ou simplement faire une ballade sur les remparts d’Antibes au bord de la mer. Les Alpes-Maritimes se prêtent également pour y passer un jour de rando ou, en hiver, pour faire du ski. Accessible en une heure et demie de route. On trouve à Biot de quoi passer d’agréables vacances et cela pendant toute l’année.
<% end %>
<% if langu == 'DE' %>
Wer etwas mehr unternehmen möchte, kann die Museen in Biot oder Antibes besuchen, einen Auflug in den nahe gelegenen Wasserpark "Marineland" unternehmen oder im und um das Dorf herum eine Glasbläserei besichtigen. Die französischen Seealpen sind ein ideales Ziel für Wanderungen oder im Winter zum Skilaufen. Sie sind mit dem Auto in etwa eineinhalb Stunden erreichbar.
In und um Biot findet man alles, was man für einen erholsamen und ereignisreichen Urlaub benötigt - das ganze Jahr über.
<% end %>

</div>
	<div class="row">
        <div class="span6">
<ul class="media-grid">
           <li><a><img src="/assets/montee_parking.jpg"></a></li>
           <li><a><img src="/assets/rue_sebastian.JPG"></a></li>
         </ul>
        </div>
</div>

	<div class="row">
        <div class="span6">
        <ul class="media-grid">
           <li><a><img src="/assets/place_des_arcades_II.jpg"></a></li>
           <li><a><img src="/assets/pl_degaulle2.JPG"></a></li>
</ul>
        </div>
<div class="span4">
<% if langu == 'EN' %>
	On the next pages
	you will find some useful information and links for your stay in Biot 
	and surroundings. Please also note the calendar of events on the bottom 
	of the page. More detailed information can be found on the
 	<a href=http://www.biot.fr target='_blank'>official website</a>
	of the Biot community.
<% end %>
<% if langu == 'FR' %>
Sur les pages suivantes (Tourisme), vous trouverez des informations et liens utiles pour votre séjour à Biot. N’oubliez pas de jeter un coup d’œil sur notre calendrier des évènements et des fêtes en fin de page, et de consulter le site officiel de la commune de Biot.
<% end %>
<% if langu == 'DE' %>
Auf der nächsten Seite (Tourismus) haben wir nützliche Informationen und einige Links für einen Aufenthalt in Biot und Umgebung zusammengestellt. Bitte beachten Sie auch den Veranstaltungskalender am Ende der Seite, sowie die <a href=http://www.biot.fr target='_blank'>offizielle Seite</a> der Gemeinde Biot.
<% end %>

	</div>
</div>

 <hr>

<br>
    <%= link_to "Home", root_path %>




