<% if langu == 'EN' %>
    <h2>Biot’s unique location in the heart of the Côte d’Azur</h2>
<% end %>
<% if langu == 'FR' %>
    <h2>Un endroit unique au coeur de la Côte d'Azur</h2>
<% end %>
<% if langu == 'DE' %>
    <h2>Biots einzigartige Lage an der Côte d’Azur</h2>
<% end %>
      <div class="row">
        <div class="span10">
          <ul class="media-grid">          
            <li><a><img src="/assets/biot_gen1.jpg"></a></li>
            <li><a><img src="/assets/biot_gen2.jpg"></a></li>
            <li><a><img src="/assets/biot_gen3.jpg"></a></li>
          </ul>
        </div>
      </div>

      <br>  
      <br>


<div class="row">
 <div class="span3">
<% if langu == 'EN' %>
Biot can be found nested in the triangle made up of Cannes, Nice and Grasse. And, because of its proximity to the sea, it makes an ideal location for a beach holdiday. Within a half-hour drive, you can easily visit Grasse, the city of perfumes; Cannes, the city of festivals; and Nice, the administrative centre of the “Alpes-Maritimes”. And don’t forget the Roman city of Antibes, only 6 km away, where you can explore Europe’s biggest yacht harbour. 
<% end %>
<% if langu == 'FR' %>
Biot se trouve au milieu d'un triangle magnifique de trois villes connues dans le monde entier : Grasse, ville des parfums, Cannes, où vous suivrez les empreintes des stars au palais des congrès, Nice, cinquième ville de France.Grâce à sa proximité de la Méditerranée, Biot est aussi une station idéale pour passer des vacances au bord de la mer. A ne pas oublier : Antibes, ville gréco-romaine, avec ses jolis remparts, qui héberge aujourd'hui le plus grand port de plaisance d'Europe et qui se trouve à environ dix minutes en voiture.
<% end %>
<% if langu == 'DE' %>
Biot befindet sich innerhalb des Dreiecks Cannes-Nizza-Grasse und ist durch seine Nähe zum Mittelmeer auch sehr gut als Station für einen Badeurlaub geeignet. Die Parfüm-Stadt Grasse, Cannes und auch Nizza, die Präfektur des Departments 'Alpes-Maritimes', sind mit dem Auto bequem innerhalb einer halben Stunde zu erreichen. Nicht zu vergessen die römische Hafenstadt Antibes, die heute den größten Jachthafen Europas beherbergt und nur ca. 10 Autominuten entfernt ist. 
<% end %>


</div>
<div class="span6">
<iframe width="500" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
src="http://maps.google.fr/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=Biot+&amp;aq=&amp;
sll=43.71355,7.207031&amp;sspn=0.946958,1.116486&amp;ie=UTF8&amp;
hq=&amp;hnear=Biot,+Alpes-Maritimes,+Provence-Alpes-C%C3%B4te+d'Azur&amp;
t=m&amp;z=10&amp;iwloc=A&amp;output=embed&amp;iwloc=near"></iframe><br />
<br/>      

</div>
</div>




