<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head color=blue>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>MaxOS by Free Css Templates</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="default.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<h1><a href="#">FMS title</a></h1>
		<h2><a href="http://freecsstemplates.org/">Matthias Seite Test </a></h2>
	</div>
	<div id="menu">
		<ul>
			<li class="active"><a href="#" accesskey="1" title="">Change to E/F/D</a></li>
			<li><a href="#" accesskey="2" title=""><%= @home %></a></li>
			<li><a href="/pages/ap1"      title=""><%= @ap1 %></a></li>
			<li><a href="/pages/ap2"      title=""><%= @ap2%></a></li>
			<li><a href="/pages/contact"  title=""><%= @contact %></a></li>
		</ul>
	</div>
	<div id="content">
		<div id="colOne">
			<h2>Welcome to MaxOS!</h2>
			<p><strong>MaxOS</strong> is a free template from <a href="http://freecsstemplates.org/"><strong>Free CSS Templates</strong></a> released under a <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution 2.5 License</a>. You're free to use it for both commercial or personal use. I only ask that you link back to <a href="http://freecsstemplates.org/">my site</a> in some way. Enjoy :)</p>
			<p>Viel viel Schimmel Text</p>
			<p>Es schimmelt nur so vor Text</p>
			<ul>
                                <li><a href="#">Link21</a></li>
				<li><a href="#">Link22</a></li>
				<li><a href="#">Link23</a></li>
				<li><a href="#">Link24</a></li>			
                        </ul>
			<h3>Lorem Ipsum Dolore </h3>
			<p>Hier auch verschimmelt www</p>
                        <p>Hier auch verschimmelt www</p>
                        <p>Hier auch verschimmelt www</p>
                        <p>Hier auch verschimmelt www</p>
		</div>

<div id="colTWO">
			<h2>W</h2>
		

			<ul>
                                <li><a href="#">Link1</a></li>
				<li><a href="#">Link2</a></li>
				<li><a href="#">Link3</a></li>
				<li><a href="#">Link4</a></li>			
                        </ul>
			<h3>Lorem Ipsum Dolore </h3>
			<p>Hier auch verschimmelt www</p>
                        <p>Hier auch verschimmelt www</p>
                        <p>Hier auch verschimmelt www</p>
                        <p>Hier auch verschimmelt www</p>
		</div>

		<div style="clear: both;">&nbsp;</div>
	</div>
	<div id="footer">
                 <p></p>
		<p>Kontaktieren Sie uns falls unbedingt notig<strong></strong></a></p>
	</div>
</div>
</body>
</html>
