<!--Last row on every page-->
<div class="fmslrow">
  <div class="row">    
More about Biot, the surroundings and activities....
</div>      
<br>
  <div class="row">    
    <h3>
    <div class="span2 offset1">
      <%= link_to "Biot Community","http://www.biot.fr", :target => "_blank" %>
    </div>
    <div class="span2">
      <%= link_to "verrerie de Biot","http://www.verreriebiot.com", :target => "_blank" %>
    </div>
    <div class="span2">
      <%= link_to "Fernand Leger","http://www.musees-nationaux-alpesmaritimes.fr/fleger/", :target => "_blank" %>
    </div>
    <div class="span2">
      <%= link_to "Marineland","http://www.marineland.fr", :target => "_blank"%>
    </div>
    </h3>
  </div>
</div>
